//to import: @import '../asssets/global_styles/_variables.scss';

// ----- colors -----

$main: #71b280;

// ----- dimensions -----
$navHeight: 80px;
$rad: 18px;

// ----- animation -----
$trans: 200ms;