//to import: @import '../asssets/global_styles/_variables.scss';

// ----- colors -----

$main: #71b280;

// ----- dimensions -----

$navHeight: 60px;
$rad: 18px;

// ----- animation -----

$ezpz: cubic-bezier(0.65, 0, 0.35, 1);

$translucent: 0.2;
$quick: 200ms;

@keyframes expand {
    from {
        width: 0%;
    } to {
        width: 150%;
    }
}