//to import: @import '../asssets/global_styles/_variables.scss';

// ----- colors -----

$main: #71b280;

// ----- dimensions -----

$navHeight: 60px;
$rad: 18px;

// ----- animation -----

$translucent: 0.2;
$quick: 200ms;